manuscript
results/contigs_telomers.svg

data
analysis_and_temp_files/04_screening_mtg/combined_its_aligned_add_metagenomes.fa
analysis_and_temp_files/04_screening_mtg/combined_its_aligned_add_metagenomes.phyl.ckp.gz
analysis_and_temp_files/04_screening_mtg/combined_its_aligned_add_metagenomes.phyl
analysis_and_temp_files/04_screening_mtg/combined_its_aligned_add_metagenomes.phyl.splits.nex
analysis_and_temp_files/05_annotate_coccomyxa/rna_align/

analysis_and_temp_files/05_annotate_coccomyxa/puginier_species_IPR_count.txt
analysis_and_temp_files/05_annotate_coccomyxa/cviridis_preds/
analysis_and_temp_files/05_annotate_coccomyxa/antismash.zip
analysis_and_temp_files/05_annotate_coccomyxa/antismash
